<!DOCTYPE html>
<html lang="fr">

<head>
    <meta description="Orinoco propose des meubles en chêne de qualité.">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/reset.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/frontend/style.css">
    <title>Orinico</title>

    <script defer src="https://kit.fontawesome.com/41d90e6780.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a href="/frontend/view/index/index.html" title="accueil" class="navbar-brand">
                    <img src="/frontend/orinoco.png" alt="logo Orinico">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse ml-auto" id="navbarContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item px-5">
                            <a class="nav-link active" href="#">Votre compte</a>
                        </li>
                        <li class="nav-item px-5">
                            <a class="nav-link" href="#">Vos favoris</a>
                        </li>
                        <li class="nav-item px-5">
                            <a href="/frontend/view/basket/basket.html" class="nav-link text-dark" title="panier"><i
                                    class="fas fa-shopping-basket"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="container">
        <div id="order-container">
            <div class="card border-dark my-5 p-4">
                <h2 class="text-center pb-4">Merci pour votre commande !</h2>
                <div class="d-flex row">
                    <div class="px-4 pb-5 col-sm">
                        <h5 class="card-title px-5 pt-3">Numéro de votre commande :</h5>
                        <div id="order-id" class="px-5"></div>
                    </div>

                    <div class="col-sm d-flex">
                        <div class="col-lg-10">
                            <h4 class="d-flex justify-content-between align-items-center">
                                <span class="text-primary p-2">Votre commande</span>
                            </h4>
                            <div id="order-products" class="p-2"></div>
                            
                            <div class="d-flex justify-content-around align-items-center pb-3">
                                <span>Prix total</span>
                                <div id="total-price"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card border-dark my-5">
                <h3 class="card-title text-center m-3">Informations de paiement :</h3>
                <div id="form-data" class="card-text"></div>
            </div>
        </div>
    </section>


    <script src="/frontend/view/order/order.js"></script>

    <footer class="container-fluid d-flex justify-content-around bg-dark fixed-bottom">
        <ul class="list-inline row">
            <li class="p-3"><a href="#" class="text-light">A propos</a></li>
            <li class="p-3"><a href="#" class="text-light">Service clients</a></li>
            <li class="p-3"><a href="#" class="text-light">Mentions légales</a></li>
        </ul>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>